---
slideshow:
    - name: zeus
      caption: My cat, named Zeus.
    - name: freemasons
      caption: A freemason symbol, taken at Greenwood Cemetery.
---
<!DOCTYPE html>
<html>
<head>
  <title>Homepage | Philipp Steinmann</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Philipp Steinmann">
  <meta name="description" content="I'm Philipp Steinmann, a student from NYC interested in programming, literature, and language.">

  <link rel="author" href="humans.txt" >
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
    <div class="header-identification">
      <a href="#top" class="logo">
        <span class=bang>
          <span class="quest">? </span>
          <span class=excl>!</span>
        </span> 
      </a>
      <p class="description">Personal homepage of 
        <span class="signature">Philipp Steinmann </span>
      </p>
    </div>
    <nav>
      <ul class="links">
        <li>
          <a href="#programming">Programming </a>
        </li>
        <li>
          <a href="#literature">Literature</a>
        </li>
        <li>
          <a href="#language">Language </a>
        </li>
        <li>
          <a href="#other">Other </a>
        </li>
        <li>
          <a href="#thoughts">Thoughts </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="content">
    <section id="top" data-title="Homepage">
      <h1>I'm Philipp Steinmann,</h1>
      <p class="large">A student in New York City, of German and Greek origins. </p>
      <p class="large">My interests include programming, literature, and language.</p>
      <div class="slideshow">
        <img class="slideshow-img" src="placeholder" alt="Slideshow loading...">
      </div>
    </section>
    
    <section id="programming" data-title="Programming">
      <h1>Programming </h1>
      <p class="large">Ever since I learned Python a few years back, I've been mesmerized by programming and the power it holds; the fact that I can tell a machine what to do in order to solve a problem is something that astounds me every time I think about it. </p>
      <h2>Web Development </h2>
      <p>I do web development for my school's robotics team, where I am vice president of marketing. This year, with a new and modern-minded team, we migrated away from PHP and started using Ruby on Rails and meticulous version control. I love the rapid work cycle of web development, and, after careful observing of the startup scene through <a href="http://news.ycombinator.com/">Hacker News</a>, could see myself doing cutting-edge stuff like this in the future. </p>

      <h2>Linux </h2>
      <p>I switched to using Linux as my main operating system after I realized that web development is pretty much impossible using Windows. Since, then I've loved it; the Debian-based <a href="http://crunchbang.org/">Crunchbang 11</a> runs incredibly smoothly on a laptop with an SSD. I've also been learning how to use the Bash shell, and awesome commands like sed. </p>
    </section>
  
    <section id="literature" data-title="Literature">
      <h1>Literature</h1>
    </section>

    <section id="language" data-title="Language">
      <h1>Language</h1>
    </section>

    <section id="other" data-title="Other Interests">
      <h1>Other</h1>
    </section>

    <section id="thoughts" data-title="Thoughts">
      <h1>Thoughts</h1>
      <div class="posts-controls">
        <button class="back">&#9664;</button>
        <button class="next">&#9654; </button>
      </div>
      <article>
        <hgroup>
          <h2></h2>
          <h3></h3> 
        </hgroup>
        <time datetime="" pubdate></time>
        <div class="article-content"></div>
      </article>
    </section>

  </div>
  <script src="js/jquery.js"> </script>
  <script src="js/main.js"> </script>
  <script>
    images = []
    current_img = -1;
    {% for img in page.slideshow %}
      images.push({url: "img/{{ img.name }}.jpg", caption: "{{ img.caption }}" }); 
    {% endfor %}
    nextImage();
    setInterval(nextImage, 8000);
  </script>

  <script>
    posts = []
    current_post = 0
    {% for post in site.posts %}
      posts.push({url: "{{ post.url }}", title: "{{ post.title }}", subtitle: "{{ post.subtitle }}", date: "{{ post.date | date: "%d %B %Y"}}" });
    {% endfor %}
    updatePost();
  </script>
</body>
</html>
