<!DOCTYPE html>
<html>
<head>
  <title>Homepage | Philipp Steinmann</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Philipp Steinmann">
  <meta name="description" content="I'm Philipp Steinmann, a student from NYC interested in programming, literature, and language.">

  <link rel="author" href="/humans.txt" >
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {{ content }}
  <script src="js/jquery.js"> </script>
  <script src="js/main.js"> </script>
  <script>
    images = []
    current_img = -1;
    {% for img in page.slideshow %}
      images.push({url: "img/{{ img.name }}.jpg", caption: "{{ img.caption }}" }); 
    {% endfor %}
    nextImage();
    setInterval(nextImage, 8000);
  </script>
  
  <script>
    posts = []
    current_post = 0
    {% for post in site.posts %}
      posts.push("{{ post.url }}");
    {% endfor %}
    updatePost();
  </script>
</body>
</html>
