<!DOCTYPE html>
<html>
<head>
  <title>Homepage | Philipp Steinmann</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="Philipp Steinmann">
  <meta name="description" content="I'm Philipp Steinmann, a student from NYC interested in programming, literature, and language.">

  <link rel="author" href="/humans.txt" >
  <link rel="stylesheet" href="css/main.css">
  <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
  {{ content }}
  <script src="js/jquery.js"> </script>
  <script src="js/main.js"> </script>
  <script>
    posts = []
    current_post = 0
    {% for post in site.posts %}
      posts.push("{{ post.url }}");
    {% endfor %}
    updatePost();
  </script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38958990-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
</script>
</body>
</html>
